.bodyindex{
	background-image: url(circles-dark.png);
}
.header{
	width: 75%;
	background-image: url(bgindex.png);
	margin: auto;
	padding: 0px 50px;
	box-sizing: border-box;
	border: 1px solid black;
}
.header h3{
	font-family: algerian;
	font-weight: bold;
	font-size: 19px;
	color: white;
}
.informasi{
	width: 75%;margin: auto;
	padding: 0px 50px;
	box-sizing: border-box;
	border: 0px 1px solid black;
	background-color: black;
	color: white;
}
.bagianutama{
	width: 75%;
	height: 500px;
	margin: auto;
	padding: 0px 50px;
	box-sizing: border-box;
	border: 1px solid black;
	/*background-color: #aeaeae;*/
	background-image: url(utamaa1.png);
	/*background-repeat: repeat-x;*/

}
.bagianutama ul{
	margin-top: 45px;
}
.bagianutama ul li{
	display: inline-block;
	margin-right: 90px;
	/*background-color: black;*/
	padding: 10px;
	box-sizing: border-box;
	background-color: salmon;
	color: white;
	font-weight: bold;

}

.bagianutama ul a:hover li{
	background-color: 	rgb(189, 183, 107);
	color: white;
}
.bagiantambahan li{
	margin-left: 180px;
}
.bodyindex p{
	font-weight: bold;
	color: white;
	font-size: 30px;
	text-align: center;
}
.footer{
	width: 75%;
	background-color: black;
	margin: auto;
	padding: 0px 50px;
	box-sizing: border-box;
	border: 1px solid black;
	text-align: center;
	color: white;
	padding: 8px 0px;
	font-size: 12px;
}
.perhitungan {
	width: 50%;
	background-image: url("circles-dark.png");
	margin: auto;
	margin-top: 150px;
	font-family: algerian;
	font-size: 12px;
}

