
.kotaklogin{
	border-radius: 20px;
}
.bodylogin .kotaklogin{
	width: 50%;
	background-color: #aeaeae;
	margin: auto;
	margin-top: 75px;
	padding-bottom: 10px;
}

.bodylogin{
	background-image: url(bg.png);
}
.bodylogin .kotaklogin .bagianjudullogin{
	width: 100%;
	padding: 10px;
	background-color: rgb(251, 235, 217);
	box-sizing: border-box;
	font-family: comic;
}
.kotaklogin .namausaha{
	font-family: verdana;
	font-size: 29px;
	text-align: center;
	font-weight: bold;
	text-shadow: 2px 3px 2px black;
	padding-top: 20px;
}
.bodylogin .submit{
	background-color: green;
	color: rgb(107, 14, 14);
	border-radius: 50px;
	border: 1 solid black;
}
.formlogin{
	font-family: arial;
	font-size: 19px;
	font-weight: bold;
}
.container1{
	font-family: arial;
	font-size: 19px;
	font-weight: bold;
}
